.button {
  inline-size: 4rem;
  padding: 8px;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  background: none;

  border: 1px solid grey;
  cursor: pointer;
  border-radius: 6px;
  font-weight: bold;
}
